
#headline {
  margin-bottom: 40px;
  margin-top: 50px;
}

body {
  background-image: url(../images/ClipartKey_1012513.png);
  background-size: cover;
  filter: grayscale(50%);
  backdrop-filter: blur(55px);
  padding-bottom: 50px;
}

.bottom-div {
  margin-top: 25px;
}
