
#headline {
  margin-bottom: 40px;
  margin-top: 50px;
}

body {
  background-image: url(../images/CwxTYMEVIAAEWoO.jpeg);
  background-size: cover;
  backdrop-filter: blur(15px);
  height: 550px;
  font-weight: bold;
}

.bottom-div {
  margin-top: 25px;
}
